<div class="body" ng-controller="ViewContact">
    <div id="content">
        <div id="head">
             <h1>Call her, but don't tell her I gave you these details.</h1> 
        </div>
        <div>
            <button ng-click="returnHome()">back</button>
        </div>
        <div>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Email</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{contact.name}}</td>
                        <td>{{contact.num}}</td>
                        <td>{{contact.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        

        <!--<h3>Name: {{contact.name}}, Number: {{contact.num}}, Email: {{contact.email}}</h3>-->

</div>