<div class="body" ng-controller="MainContact">
    <div id="content">
        <div id="head">
             <h1>Get them digits!</h1> 
        </div>
        <div>
            <form>
                <div>
                    <input type="text" placeholder="Name" ng-model="name" required>
                    <input type="text" placeholder="Number" ng-model="num" required>
                    <input type="text" placeholder="Email" ng-model="email" required>
                </div>
                <div>
                    <button ng-click="submit(name, num, email)">Add New Contact</button>
                </div>
                    <div ng-repeat="contact in contactList">
                        <!--This is where I set the route parameter to the contact.name-->
                        <a href="#/contact/{{contact.name}}"><h3>{{contact.name}}</h3></a>
                    </div>
                </form>
        </div>
    </div>
</div>